AM.EmergencyService.App/AM.EmergencyService.App.Data/Connected Services/AdServiceReference/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://AM.EmergencyService.AdService.Interface" elementFormDefault="qualified" targetNamespace="http://AM.EmergencyService.AdService.Interface" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56945/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AM.EmergencyService.AdService.Model" />
  <xs:element name="GetAdvertising">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numberOfAd" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdvertisingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AM.EmergencyService.AdService.Model" minOccurs="0" name="GetAdvertisingResult" nillable="true" type="q1:ArrayOfAdvertisingModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>