AM.EmergencyService.App/AM.EmergencyService.App.Data/Connected Services/AdServiceReference/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AM.EmergencyService.AdService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AM.EmergencyService.AdService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAdvertisingModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdvertisingModel" nillable="true" type="tns:AdvertisingModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdvertisingModel" nillable="true" type="tns:ArrayOfAdvertisingModel" />
  <xs:complexType name="AdvertisingModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Header" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdvertisingModel" nillable="true" type="tns:AdvertisingModel" />
</xs:schema>